<ion-header>

  <ion-navbar>
    <ion-title>Available Oven Cams</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addCamera()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor='let camera of _cameras'>
      <!-- Todo: Show last image capture? <img src="img/nin-live.png"/> -->
      <ion-card-content>
        <ion-card-title>{{camera?.name}}</ion-card-title>
        <!-- <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p> -->
        <div class="right-status">
          <ion-icon *ngIf="camera?.status === 'offline'" name='power' class='status-icon' color="danger"></ion-icon>
          <div *ngIf="camera?.status === 'online'">
            {{camera?.battery_level}}%
            <ion-icon padding-right name="{{camera?.charging ? 'battery-charging' : 'battery-full'}}" class='status-icon' color="{{camera?.charging ? 'success' : 'black'}}"></ion-icon>
            <ion-icon name='power' class='status-icon' color="success"></ion-icon>
          </div>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button [disabled]="camera?.status === 'offline'" (click)="viewCam(camera?.id)" ion-button clear small icon-start>
            <ion-icon name='eye'></ion-icon>
            View Live Cam
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-start (click)="settingsClick($event)">
            Settings 
            <ion-icon name='more' class="icon-settings"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>