<ion-header>
  <ion-navbar>
    <ion-title>Camera XYZ</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list no-lines (click)="navTimersPage()">
          <ion-list-header>
            <ion-icon name="timer"></ion-icon>
            Timers
          </ion-list-header>
          <ion-item *ngIf="_timers.length === 0">No timers set</ion-item>
          <ion-item *ngFor="let timer of _timers" name="test">
            <h2>{{timers.format(timer.timeRemaining)}}</h2>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list no-lines>
          <ion-list-header>
            <ion-icon name="thermometer"></ion-icon>
            Temperature alerts
          </ion-list-header>
          <ion-item>Temperature alerts coming soon.</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <page-camera-stream></page-camera-stream>
</ion-content>